{{ define "main" }}
  <article>
    <h2>{{ .Title }}</h2>
    <p>Posts listed here are will not be updated and the information therein may be out of date or innacurate.</p>
    <div class="posts-list">
      {{ range where .Site.RegularPages "Section" "archive" }}
        <div class="posts-list-item">
          <h5><a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a></h3>
          <p class="post-meta">
            {{ .ReadingTime }} min read -
            {{ .PublishDate.Format "Jan 2, 2006" }}
          </p>
          <p class="post-summary">
            {{ .Summary }}
          </p>
        </div>
      {{ end }}
    </div>
  </article>
{{ end }}